{% extends 'base.html' %}


{% block titulo_conteudo  %} Formulário de Categoria {% endblock %}


{% block conteudo  %}  

<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="PohNeyDFSIA86N4aBnhYiq0KadF9m9jKliScSSzt3BVO5lqKv19MgwAoi9ZcrrXl">
    <p>
    <label for="id_nome">Nome:</label>
    <input type="text" name="nome" class="form-control" placeholder="Nome" maxlength="100" required id="id_nome">
    </p>

    <p>
    <label for="id_ordem">Ordem:</label>
    <input type="number" name="ordem" class="inteiro form-control" placeholder="" required id="id_ordem">
    </p> <button class="btn btn-primary" type="submit">Enviar</button>
</form>

{% endblock %}
