{% extends "base.html" %}

{% block titulo_conteudo %} Detalhes do Pedido #{{ pedido.id }} {% endblock titulo_conteudo %}

{% block conteudo %} 

<p><strong>Cliente:</strong> {{ pedido.cliente.nome }}</p>
<p><strong>Data do Pedido:</strong> {{ pedido.data_pedidof }}</p>
<p><strong>Status:</strong> {{ pedido.get_status_display }}</p>

<hr>
<h5>Adicionar Produto</h5>
<form method="POST">
    {% csrf_token %}
    <p>
     <label for="id_produto_nome">Produto:</label>    
    <input type="text" class="form-control autocomplete" 
            id="id_produto_nome" 
            data-url="{% url 'buscar_dados' 'home.Produto' %}" 
            value="{{item_pedido.produto.nome}}" 
            data-hidden="#id_produto" >
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm">Salvar Produto</button>
    
    <button type="button" onclick="location='{% url "form_pagamento" pedido.id %}'" class="btn btn-primary btn-sm">Registrar Pagamento</button>
    {% if pedido.status != 4 %} <a href="{% url 'cancelar_pedido' pedido.id %}" 
       class="btn btn-danger btn-sm" 
       onclick="return confirm('Tem certeza? Isso devolverá os itens ao estoque.')">
       Cancelar Pedido
    </a>
    {% endif %}
</form>
<hr>

<h5>Itens do Pedido ({{ pedido.qtde_itens }})</h5>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unit.</th>
            <th>Subtotal</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pedido.itempedido_set.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>
                {% if item.produto.img_base64 %}
                    <img src="{{ item.produto.img_base64 }}" style="width: 30px;">
                {% endif %}
                {{ item.produto.nome }}
            </td>
            <td>{{ item.qtde }}</td>
            <td>R$ {{ item.preco }}</td>
            <td>R$ {{ item.subtotal }}</td> 
            <td>
                <a href="{% url 'remover_item_pedido' item.id %}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Remover este item?')">Remover</a>
            </td>
        </tr>
        {% empty %}
            <tr><td colspan="6">Nenhum item adicionado.</td></tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <div class="row justify-content-start">
                    <div class="col-md-6">
                        <div class="p-2 border rounded bg-light">
                            <div class="d-flex justify-content-between">
                                <strong>Total do Pedido:</strong>
                                <span>R$ {{ pedido.total }}</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <strong>Total Pago:</strong>
                                <span>R$ {{ pedido.total_pago }}</span>
                            </div>

                            <div class="d-flex justify-content-between mt-2 text-danger">
                                <strong>Débito:</strong>
                                <strong>R$ {{ pedido.debito }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<div class="d-flex justify-content-end mt-3 mb-4">
    <a href="{% url 'pedido' %}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Voltar para Lista de Pedidos
    </a>
</div>

{% endblock conteudo %}


{% block javascript %}

<script>
    $(document).ready(function() {
        
        // Esta função pega TODOS os inputs com a classe 'autocomplete'
        $('.autocomplete').each(function() {
            var $input = $(this);                 // O campo de texto atual
            var url = $input.data('url');         // A URL específica (Categoria, Cliente ou Produto)
            var hiddenSelector = $input.data('hidden'); // O ID do campo oculto correspondente
            var $hidden = $(hiddenSelector);

            $input.autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: url,
                        dataType: "json",
                        data: {
                            q: request.term // Termo digitado
                        },
                        success: function(data) {
                            // O Django retorna uma lista de dicionários
                            response(data);
                        },
                        error: function(xhr) {
                            console.log("Erro na busca: " + xhr.statusText);
                        }
                    });
                },
                minLength: 1, // Começa a buscar com 1 letra (pode aumentar para 2 ou 3)
                select: function(event, ui) {
                    // Quando o usuário clica numa opção:
                    
                    // 1. Preenche o campo de texto com o Nome (label)
                    $input.val(ui.item.label);
                    
                    // 2. Preenche o campo oculto com o ID (value/id)
                    $hidden.val(ui.item.id);
                    
                    // Impede o comportamento padrão de substituir o texto pelo ID
                    return false;
                }
            });
        });
        
    });
</script>

<script>
    // Se estiver usando bootstrap-confirmation
    $('#confirm-btn').confirmation({
      rootSelector: '#confirm-btn',
      title: 'Você tem certeza?',
      btnOkLabel: 'Sim',
      btnCancelLabel: 'Não',
      onConfirm: function() {
        alert('Confirmado!');
      },
      onCancel: function() {
        alert('Cancelado!');
      }
    });
</script>

{% endblock javascript %}