{% extends 'base.html' %}

{% block titulo_conteudo %}
  Listagem de Pedidos
{% endblock %}

{% block conteudo %}
  <div class="barrabotoes">
    <button onClick="location='{% url 'pedido' %}'" type="button" class="btn btn-primary btn-sm">Recarregar</button>
  </div>

  <table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Data</th>
        <th>Situação</th>
        <th>Produtos</th>
        <th>Total (R$)</th>

        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in lista %}
        <tr>
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.cliente.nome }}</td>
          <td>{{ pedido.data_pedidof }}</td>
          <td>
            {% if pedido.status == 1 %} <span class="badge bg-primary">Novo</span>
            {% elif pedido.status == 2 %} <span class="badge bg-warning text-dark">Em Andamento</span>
            {% elif pedido.status == 3 %} <span class="badge bg-success">Concluído</span>
            {% elif pedido.status == 4 %} <span class="badge bg-danger">Cancelado</span>
            {% endif %}
          </td>
          <td>{{ pedido.qtde_itens }}</td>
          <td>{{ pedido.total }}</td>
          <td>
            <button onClick="location='{% url "detalhes_pedido" pedido.id %}'" type="button" class="btn btn-primary btn-sm">Detalhes</button>
            <a href="{% url "nota_fiscal" pedido.id %}" target="_blank" class="btn btn-info btn-sm">Nota Fiscal</a>
            <a href="{% url "remover_pedido" pedido.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
            </td> 
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
